
.bg{
	background-color: #c2c2d6;
	height: 700px;
	padding-top: 75px;
}
.content{
	height: 385px;
	background-color: black;
	border: solid 5px black; */
}
.bt{
	height: 60px;
	border-radius: 0px!important;
}
#equals{
	height: 120px;
	border-radius: 0px!important;
}
.theDiv{
	    padding: 0px;
}
.a{
	height: 180px;
}
.dash{
	
}
#display{
	height: 74px;
	
	color: white;
	font-size: 20px;
}

input{
	border:solid 1px black!important;
}
input:hover{
	border:solid 1px grey!important;

}
input:hover{
 	color: black!important;
 }
 .input{
 	background-color: black;
 	color: yellow;
 }
 .number{
 	background-color: black;
 	color: white;
 	
 	
 }
 .input:hover{
 	border:solid 1px black!important;
 	
 }
 .number:hover{
 	color: white!important;
 	border:solid 1px black!important;
 }